<main>
    <div class="container body-content span=8 offset=2">
        <div class="col-sm-6">
            <div class="well">
                <table class="table table-striped table-hover">
                <thead>
                <th></th>
                    <h3>
                    <th>Categories</th>
                    </h3>
                </thead>
                <tbody>
                        <div class="col-sm-6" th:each="category : ${categories}">
                            <tr class="info">
                                <td></td>
                            <td>
                                <h4><a th:href="@{category/{id}(id = ${category.id})}" th:text="${category.name}"></a></h4>
                            </td>
                            </tr>
                        </div>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</main>