<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/admin/users/edit/{id}(id=${user.id})}" method="post">
                <fieldset>
                    <br/>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                                <div class="col-sm-4">
                                <h2>Profile information:</h2>
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Email:</label>
                            <div class="col-sm-4 ">
                                <input class="form-control" id="emailFieldDisabled" type="text" disabled="" th:value="${user.email}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Name:</label>
                            <div class="col-sm-4 ">
                                <input class="form-control" id="fullNameFieldDisabled" type="text" disabled="" th:value="${user.fullName}"/>
                            </div>
                        </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>