<header  th:fragment="header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="container">
                <div class="navbar-header">
                    <a th:href="@{/}" class="navbar-brand">Kaloyan Nikolov's Blog</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-header">
                    <ul class="nav navbar-nav navbar-right">
                        <li sec:authorize="isAuthenticated()">
                            <a th:href="@{/article/create}">
                                New Article
                            </a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a th:href="@{/profile}">
                                My Profile
                            </a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a th:href="@{/logout}">
                                Logout
                            </a>
                        </li>
                        <li sec:authorize="isAnonymous()">
                            <a th:href="@{/register}">
                                REGISTER
                            </a>
                        </li>
                        <li sec:authorize="isAnonymous()">
                            <a th:href="@{/login}">
                                LOGIN
                            </a>
                        </li>
                        <li sec:authorize="hasRole('ADMIN')">
                            <div class="dropdown">
                                <button class="dropbtn">Admin Panel </button>
                                <div class="dropdown-content">
                                    <a th:href="@{/admin/categories/}">Categories</a>
                                    <a th:href="@{/admin/users/}">Users</a>
                                </div>
                            </div>
                        </li>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">Menu</button>
                                    <div class="dropdown-content">
                                        <a th:href="@{/categories}">Categories</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>